.local-primary {
    color: #fff;
    background-color: #000;
}
.local-secondary {
    color: #000;
    background-color: #fff;
}

header {
    background-color: #ccc;
    padding: 10px;
    width: 100%;
}


/* ================== LOGIN, FORGET PASSWORD =================*/
.container-full {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* 100vh = 100% de la altura de la viewport */
}
.container-full form {
    padding: 6px;
}

.page-full header{
    position: fixed;
}
